<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Media</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <table >
        <thead>

            <tr id="space" >
                <th width="20%"><button type="submit" class="headb">Home</button></th>
                <th width="20%"><button type="submit" class="headb">Services</button></th>
                <th width="20%"><button type="submit" class="headb">Portifolio</button></th>
                <th width="20%"><button type="submit" class="headb">News</button></th>
                <th width="20%"><button type="submit" class="headb1">.</button></th>
         

            </tr>
            <tr >
                <th colspan="5" ><p></p></th>
            </tr>
        </thead>
        <tbody>
            <tr class="treye">
                <td colspan="4"><h2 class="green">Lorem Ipsum</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem cum quo saepe quas nostrum, atque debitis esse sit illo aut enim reiciendis porro cupiditate nemo ratione iusto consectetur unde in</p>
                </td>
                <td> <img src="img/img_edito.gif" alt=""></td>
            </tr>
            <tr class="treye">     
                <td colspan="5">                
                <button type="submit" class="largeb" >Free Estimate</button>
                </td>   
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">.</td>
            </tr>
        </tfoot>
    </table>
    <table id="downtable">
        <tbody>
            <tr>
                <td colspan="4" style="color: whitesmoke;">.</td>
            </tr>
            <tr>
                <td width="33%" style="border-right: 3px solid deepskyblue;" ><h3 class="blue">About Me</h3></td>
                <td width="33%"  style="border-right: 3px solid deepskyblue;" colspan="2"><h3 class="blue">News</h3></td>
                <td width="33%" ><h3 class="blue">Services</h3></td>
            </tr>
            <tr >
                <td rowspan="5" style="border-right: 3px solid deepskyblue;" >
                    <div class="green">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <p> Error repellat dolore officiis? Nulla sapiente optio facilis incidunt hic iusto laudantium repudiandae, perspiciatis esse alias deleniti est eius possimus dolorem numquam?
                        <br><br><br><br><br><br><br>

                    </p>
                </td>
                <td  class="green">25/01/2009</td>
                <td> <strong>Arbitror splendore</strong> </td>
                <td rowspan="4" colspan="2" style="border-left: 3px solid deepskyblue;">    
                    <ul type="none"  class="green">
                    <li>tutiorem expetendis dolore</li>
                    <li>tutiorem expetendis dolore</li>
                    <li>tutiorem expetendis dolore</li>
                    <li>tutiorem expetendis dolore</li>
                    <li>tutiorem expetendis dolore</li>
                </ul></td>
            </tr>
            <tr>
                <td colspan="2"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, exercitationem laudantium totam temporibus</p></td></tr>
            <tr>
                
                  
                <td  class="green" >25/01/2009</td>
                <td > <strong> Arbitror splendore</strong></td>
            </tr>
            <tr><td colspan="2">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, exercitationem laudantium totam temporibus</p></td></tr>
            <tr>
                <td colspan="2" >                        
                    <button type="submit" class="smallb">More News</button></td>
                <td colspan="2" style="border-left: 3px solid deepskyblue;">                        
                    <button type="submit" class="smallb">Discover</button></td>
            </tr>
            <tr>
                <td colspan="4" style="color: whitesmoke;">.</td>
            </tr>
        </tbody>
        
    </table>

    <footer>
        <p>My Company &copy2009 | Contact</p>
    </footer>
 
</body>
</html>